<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/form.css">
    <title>Reset Password</title>
</head>
<body>
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
    <div class="flash-messages">
        {% for category, message in messages %}
        <div class="alert alert-{{ category }}">
            {{ message }}
        </div>
        {% endfor %}
    </div>
    {% endif %}
    {% endwith %}

    <div class="container">
        <form method="POST" class="form-addHost">
            {{ form.hidden_tag() }}
            <h1 class="add-header">Forgot password? Give your email</h1>
            
            {{ form.email.label() }}
            {{ form.email() }}
            
            {{ form.submit(class="btn btn-primary") }}
        </form>
    </div>

    <div class="back-to-menu">
        <h6>Want to log in?</h6>
        <a class="btn btn-sm btn-secondary" href="{{ url_for('auth.login_page') }}">Login</a>
    </div>
</body>
</html>